In [1]:
import pandas as pd
dataset = pd.read_csv('data/titanic.csv')
print(dataset)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [2]:
rows, cols = dataset.shape
print('Jumlah baris', rows)
print('Jumlah kolom', cols)

Jumlah baris 891
Jumlah kolom 12

In [27]:
data = pd.DataFrame(dataset, columns=['Age', 'Fare'])
print(data)

      Age     Fare
0    22.0   7.2500
1    38.0  71.2833
2    26.0   7.9250
3    35.0  53.1000
4    35.0   8.0500
..    ...      ...
886  27.0  13.0000
887  19.0  30.0000
888   NaN  23.4500
889  26.0  30.0000
890  32.0   7.7500

[891 rows x 2 columns]

In [4]:
classs = pd.DataFrame(dataset, columns=['Survived'])
print(classs)

     Survived
0           0
1           1
2           1
3           1
4           0
..        ...
886         0
887         1
888         0
889         1
890         0

[891 rows x 1 columns]

In [30]:
data = data.fillna(dataset.groupby('Survived').transform('mean'))
print(data)

          Age     Fare
0    22.00000   7.2500
1    38.00000  71.2833
2    26.00000   7.9250
3    35.00000  53.1000
4    35.00000   8.0500
..        ...      ...
886  27.00000  13.0000
887  19.00000  30.0000
888  25.14062  23.4500
889  26.00000  30.0000
890  32.00000   7.7500

[891 rows x 2 columns]

C:\Users\ACER\AppData\Local\Temp\ipykernel_11924\2386813167.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data = data.fillna(dataset.groupby('Survived').transform('mean'))

In [31]:
dataAge = data['Age']
dataFare = data['Fare']

minAge = dataAge.min()
maxAge = dataAge.max()
avgAge = dataAge.mean()
stdAge = dataAge.std()

minFare = dataFare.min()
maxFare = dataFare.max()
avgFare = dataFare.mean()
stdFare = dataFare.std()

In [41]:
print("Min Max Age dan Fare\n")
data['Age'] = (dataAge-minAge)*(1-0)/(maxAge-minAge)
data['Fare'] = (dataFare-minFare)*(1-0)/(maxFare-minFare)
print(data)

Min Max Age dan Fare

          Age      Fare
0    0.271174  0.014151
1    0.472229  0.139136
2    0.321438  0.015469
3    0.434531  0.103644
4    0.434531  0.015713
..        ...       ...
886  0.334004  0.025374
887  0.233476  0.058556
888  0.310639  0.045771
889  0.321438  0.058556
890  0.396833  0.015127

[891 rows x 2 columns]

In [42]:
print("Z Score Age dan Fare\n")
data['Age'] = (dataAge-avgAge)/stdAge
data['Fare'] = (dataFare-avgFare)/stdFare
print(data)

Z Score Age dan Fare

          Age      Fare
0   -0.552050 -0.502163
1    0.659105  0.786404
2   -0.249261 -0.488580
3    0.432013  0.420494
4    0.432013 -0.486064
..        ...       ...
886 -0.173564 -0.386454
887 -0.779142 -0.044356
888 -0.314314 -0.176164
889 -0.249261 -0.044356
890  0.204922 -0.492101

[891 rows x 2 columns]

In [43]:
import numpy as np
print("Sigmodial Age dan Fare\n")
data['Age'] = 1 / (1 + np.exp(-dataAge))
data['Fare'] = 1 / (1 + np.exp(-dataFare))
print(data)

Sigmodial Age dan Fare

     Age      Fare
0    1.0  0.999290
1    1.0  1.000000
2    1.0  0.999639
3    1.0  1.000000
4    1.0  0.999681
..   ...       ...
886  1.0  0.999998
887  1.0  1.000000
888  1.0  1.000000
889  1.0  1.000000
890  1.0  0.999569

[891 rows x 2 columns]